.block_floatingbutton-floatingicons {
    position: fixed;
    bottom: calc(2rem + 36px);
    right: 2rem;
    width: 36px;
    transition: 0.2s;
    z-index: 1000;
}

.drawer-right.show .block_floatingbutton-floatingicons,
.show-drawer-right .block_floatingbutton-floatingicons {
    right: calc(315px + 2rem);
}

.block_floatingbutton-floatingicons .block_floatingbutton-btn {
    margin-bottom: 2px;
}

.block_floatingbutton-floatingicons div.block_floatingbutton-btn {
    word-wrap: break-word;
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_floatingbutton-floatingicons .block_floatingbutton-btn .icon {
    width: auto;
}

.block_floatingbutton-floatingicons .block_floatingbutton-btn:hover {
    filter: hue-rotate(10deg) brightness(90%);
}

.block_floatingbutton-floatingicons a:hover {
    text-decoration: none;
}

.block_floatingbutton-floatingicons .block_floatingbutton-edit-active i {
    filter: invert(90%);
}

.block_floatingbutton-iconpicker-button {
    height: calc(1.5em + 0.75rem + 2px);
    width: calc(1.5em + 0.75rem + 2px);
}

.block_floatingbutton-iconpicker {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.block_floatingbutton-iconpicker .block_floatingbutton-iconpicker-icon {
    display: flex;
    font-size: 25px;
    height: 40px;
    width: 40px;
    padding: 4px;
    margin: 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    border: solid;
    border-radius: 4px;
}

.block_floatingbutton-iconpicker .block_floatingbutton-iconpicker-icon.highlight {
    background-color: goldenrod;
}

.block_floatingbutton-iconpicker .block_floatingbutton-iconpicker-search {
    width: 100%;
}

.block_floatingbutton-iconpicker .block_floatingbutton-iconpicker-search-input {
    width: 95%;
}

.block_floatingbutton-color-input input[type="color"] {
    width: 2.5em;
    padding: 0;
}
