{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_floatingbutton/edit

    Template for displaying the edit-button.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    "positionhorizontal":"left",
    "positionvertical":"top",
    "icons":[
        {
            "name":"Section 0",
            "url":"https://localhost/...",
            "icon":"fa-globe",
            "iconstyle":"background:green;"
        }
    ]
    }
}}
<form method="post" href="{{{url}}}">
<div class="mbs-floatingicons-icon"
style="
background: {{^defaultbackgroundcolor}}
{{^backgroundcolor}}green{{/backgroundcolor}}
{{backgroundcolor}}
{{/defaultbackgroundcolor}}
{{defaultbackgroundcolor}};
color: {{^defaulttextcolor}}
{{^textcolor}}green{{/textcolor}}
{{textcolor}}
{{/defaulttextcolor}}
{{defaulttextcolor}};
">
    <input type="hidden" name="id" value="{{courseid}}"/>
    <input type="hidden" name="sesskey" value="{{sesskey}}"/>
    <input type="hidden" name="edit" value="{{#editing}}off{{/editing}}{{^editing}}on{{/editing}}"/>
    <button class="mbs-floatingicons-button" type="submit" title="{{name}}"><i class="{{icon}} {{#editing}} mbs-floatingicons-edit-active{{/editing}}" aria-hidden="true"></i></button>
</div>
</a>
